{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Detail | Chirp</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'team4app/css/public.css' %}" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <h1><a href="{% url 'home' %}"></a> 詳細ページ</h1>

    <div class="text">
      <h2>{{ article.title }} <small>{{ article.posted_at }}</small></h2>
      <div class="text_body">
        {{ article.body | linebreaksbr }}
      </div>
      <p>
        <a href="{% url 'update' article.id %}">Edit</a> | 
        <a href="{% url 'delete' article.id %}">Delete</a>  
      </p>
  
    </div>

    {% if comments %}
    {% for comment in comments %}
    <div class="text comment">
      ↪︎ <small>{{ comment.posted_at }}</small>
      <div>
        {{ comment.text | linebreaksbr }}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No comment.</p>
    {% endif %}

    <a href="{% url 'pub' %}"> 掲示板を見る </a>|
    <a href="{% url 'home' %}"> ホームへ戻る </a>

    <hr>
    
    <h2>Reply</h2>
    <form action="{% url 'detail' article.id %}" method="post">
      {% csrf_token %}
      <div>
        <!--<label for="textInput">Text</label><br>-->
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit" id="post-button">Send</button>
      </div>
    </form>
    
    
    </div>
  </body>
</html>
