{% load static %}
<!DOCTYPE html>
<html>
  <head>    
    <title>Edit | Chirp</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'team9app/css/main.css' %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <img src="{% static 'team9app/img/bird_okameinko.png' %}" alt="Logo">
      <a href="/team9app/"><h1>Chirp</h1></a>
    </div>
    <div class="container">
    <h1 >Edit</h1>
    <form action="{% url 'update' article.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">Name</label><br>
        <input id="titleInput" name="title" type="text"
          placeholder="Input title" value="{{ article.title }}">
      </div>
      <div>
        <label for="textInput">Chirp</label><br>
        <textarea id="textInput" name="text" rows="3">{{ article.body }}</textarea>
      </div>
      <div>
        <button type="submit" id="post-button">Save</button>
      </div>
    </form>
    </div>
  </body>
</html>
