{% load static %}
<!DOCTYPE html>
<html>
  <head>    
    <title>Edit</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
    <link href="{% static 'team4app/css/public.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <h1 >編集</h1>
    <form action="{% url 'update' article.id %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput"><strong>名前</strong></label><br>
        <input id="titleInput" name="title" type="text"
          placeholder="Input title" value="{{ article.title }}">
      </div>
      <div>
        <label for="textInput"><strong>内容</strong></label><br>
        <textarea id="textInput" name="text" rows="3">{{ article.body }}</textarea>
      </div>
      <div>
        <button type="submit" id="post-button">保存</button>
      </div>
    </form>
    </div>
  </body>
</html>
