{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Home</title>
    <meta charset = "utf-8">
    <link href="{% static 'team4app/css/home.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'team4app/js/display.js' %}" ></script>
  </head>
<body>
  <div class="container">
  <div id="logo">
    <img src="{% static 'team4app/img/iniad (1).png' %}" alt="Logo">
  </div>
  <h1>チャットアプリへようこそ！</h1>
  {% if user.is_authenticated %}
  <p>こんにちは {{ user.username }}さん!</p>
  <a href="{% url 'logout' %}">ログアウトはこちらから</a>
  {% else %}
  <p>まだログイン出来ていません。</p>
  <p><a href="{% url 'login' %}">ログインはこちらから</a></p>
  {% endif %}

  <hr>

  <a href="{% url 'priv' %}">プライベートルーム </a>|
  <a href="{% url 'pub' %}"> パブリックルーム </a>|
  <a href="{% url 'home' %}"> ホームルーム </a>|
  </div>
</body>
</html>
