{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset = "utf-8">
<title>Home</title>
<link href="{% static 'teama4pp/css/home.css' %}" rel="stylesheet">
</head>
<body>
  <header>チャットアプリ</header>

  {% if user.is_authenticated %}
  <p>ようこそ {{ user.username }}さん!</p>
  <a href="{% url 'logout' %}">ログアウトはこちらから</a>
  {% else %}
  <p>まだログイン出来ていません。</p>
  <p><a href="{% url 'login' %}">ログインはこちらから</a></p>
  {% endif %}

  <hr>

  <p><a href="{% url 'priv' %}">プライベートルーム</a></p>
  <p><a href="{% url 'pub' %}">パブリックルーム</a></p>
</body>
</html>
