<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset = "utf-8">
<title>Home</title>
</head>
  <body>
    <h1>Post new Chirp</h1>
    <p>Chirp is an application for people to gather and talk.</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <!--<label for="titleInput">Name</label><br>-->
        <input id="titleInput" name="title" type="text" placeholder="ユーザー名">
      </div>
      <div>
        <!--<label for="textInput">Text</label><br>-->
        <textarea id="textInput" name="text" rows="3" placeholder="いま何してる？"></textarea>
      </div>
      <div>
        <button type="submit" id="post-button">Chirp</button>
      </div>
    </form>
  </body>
</html>