<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset = "utf-8">
    <title>Home</title>
  
</head>
  <body>
    <h1>投稿画面</h1>
    <p>みんなに伝えたい情報を書いて下さい</p>
    <form action="{% url 'pub' %}" method="post">
      {% csrf_token %}
      <div>
        <input id="titleInput" name="title" type="text" placeholder="ユーザー名">
      </div>
      <div>
        <textarea id="textInput" name="text" rows="3" placeholder="連絡情報はここに書いて下さい"></textarea>
      </div>
      <div>
        <button type="submit" id="post-button">Chirp</button>
      </div>
    </form>
  </body>
</html>