{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset = "utf-8">
    <title>Home</title>
    <link href="{% static 'team4app/css/public.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'team4app/js/display.js' %}" ></script>
</head>
  <body>
    <img src="{% static 'team4app/img/ペンギン.png' %}" alt="Logo">
    <h1>投稿画面</h1>
    <p id="line-middle">みんなに伝えたい情報を書いて下さい</p>
    <form action="{% url 'pub' %}" method="post">
      {% csrf_token %}
      <div>
        <input id="titleInput" name="title" type="text" placeholder="投稿者名">
      </div>
      <div>
        <textarea id="textInput" name="text" rows="5" placeholder="連絡情報はここに書いて下さい"></textarea>
      </div>
      <div>
        <button type="submit" id="post-button">投稿</button>
      </div>
    </form>
    <div id="padding"><a href="{% url 'home' %}"> ホームへ戻る </a>|</div>
  </body>
</html>