{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>public</title>
    <meta charset="utf-8">
    <link href="{% static 'team4app/css/public.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'team4app/js/display.js' %}" ></script>
  </head>

  <body>
    <div class="container">
  
    <h1>掲示板一覧</h1>
    <div>
  	  <a href="{% url 'pub' %}?sort=date">日付で並び変え</a> | 
      <a href="{% url 'pub' %}?sort=like">チェック数で並び変え</a>
	  </div>
    
    {% if articles %}
    {% for article in articles %}
      <div class="text">
        <h2>{{  article.title }} <small>{{ article.posted_at }}</small></h2>
        <a class="boxlink" href="{% url 'detail' article.id %}"></a>
        <div class="text_body">{{ article.body |linebreaksbr }}</div>
        
        <a class="likelink"  onclick="like({{article.id}});">
          ❤️ <span id="like{{article.id}}">{{ article.like }}</span>
        </a>
      </div>
    
    {% endfor %}
    {% else %}
    <p>連絡はありません</p>
    {% endif %}
  </body>
</html>