<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="public.css">
  </head>
  <body>
    <div class="container">
      <div class="inner-container">
          <h1>Post new Chirp</h1>
          <p>Chirp is an application for people to gather and talk.</p>
          <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div>
              <!--<label for="titleInput">Name</label><br>-->
              <input id="titleInput" name="title" type="text" placeholder="ユーザー名">
            </div>
            <div>
              <!--<label for="textInput">Text</label><br>-->
              <textarea id="textInput" name="text" rows="3" placeholder="いま何してる？"></textarea>
            </div>
            <div>
              <button type="submit" id="post-button">Chirp</button>
            </div>
          </form>
      </div>
  
    <h1>Timeline</h1>
    <div>
  	  <a href="{% url 'index' %}?sort=date">Sort by Date</a> | 
      <a href="{% url 'index' %}?sort=like">Sort by Like</a>
	  </div>
    
    {% if articles %}
    {% for article in articles %}
    <!--
      <div class="text">
      <h2><a href="{% url 'detail' article.id %}">{{  article.title }}</a></h2>
      <small>[{{ article.posted_at }}]</small>
      <div>
        <a href="" onclick="like({{article.id}});">
          Like: <span id="like{{article.id}}">{{ article.like }}</span>
        </a>
      </div>
      <div>
        {{ article.body |linebreaksbr }}
      </div>
    </div>
    -->
    
      <div class="text">
        <h2>{{  article.title }} <small>{{ article.posted_at }}</small></h2>
        <a class="boxlink" href="{% url 'detail' article.id %}"></a>
        <div class="text_body">{{ article.body |linebreaksbr }}</div>
        
        <a class="likelink"  onclick="like({{article.id}});">
          ❤️ <span id="like{{article.id}}">{{ article.like }}</span>
        </a>
      </div>
    
    
    {% endfor %}
    {% else %}
    <p>No article.</p>
    {% endif %}

  </body>
</html>