<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>public</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="public.css">
    <script type="text/javascript" src="display.js"></script>
  </head>
  <body>
    <div class="container">
  
    <h1>Timeline</h1>
    <div>
  	  <a href="{% url 'pub' %}?sort=date">Sort by Date</a> | 
      <a href="{% url 'pub' %}?sort=like">Sort by Like</a>
	  </div>
    
    {% if articles %}
    {% for article in articles %}
    
    
      <div class="text">
        <h2>{{  article.title }} <small>{{ article.posted_at }}</small></h2>
        <a class="boxlink" href="{% url 'detail' article.id %}"></a>
        <div class="text_body">{{ article.body |linebreaksbr }}</div>
        
        <a class="likelink"  onclick="like({{article.id}});">
          ❤️ <span id="like{{article.id}}">{{ article.like }}</span>
        </a>
      </div>
    
    
    {% endfor %}
    {% else %}
    <p>No article.</p>
    {% endif %}
  </body>
</html>