h1{
    text-align: center;
    background-color: aqua;
}

#line-middle{
    text-align: center;
}

.inner-container{
    border-bottom: 1px solid #ccc;
}

.container{
    width: 60vw;
    margin-left: 20vw;
    padding-bottom:100px;
}

body {
    font-family: sans-serif;
    margin: initial;
}

#header {
    background-color: aqua;
    padding: 8px 15px 8px 15px;
    margin: 0;
    height: 35px;
}

#header img {
    height: 40px;
    float: left;
}
#header h1{
    font-size: 30px;
    margin: 0;
    color: #333;
    border-bottom: initial;
    float: left;
}

#titleInput {
    margin: 10px;
    padding: 10px;
    width: 40%;
}

#textInput {
    margin: 10px;
    padding: 10px;
    width: 40%;
}

#post-button{
    margin: 10px;
    color: #fff;
    font-size: 20px;
    background-color: aqua;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border: none;
}
#post-button:hover{
    color: #fff;
    background-color: aqua;
}

.text {
    margin: 10px;
    padding: 20px;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
.comment{
    background-color: #eeeeee;
}
.text small{
    color: #888888;
    font-size: 15px;
}

#padding{
    padding-left:130px;
}

#pengin{
    width: 10%;
    height: 10%;
}

.boxlink{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}
.likelink{
    position: relative;
    z-index: 20;
    
}
.likelink:hover {
    color: blueviolet;
    cursor: pointer;
}

h2 {
    padding:0px;
    margin:0px;
    font-size: 20px;
}

.text_body{
    font-size: 20px;
}
